<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let photo of photoService.photos;">
    <img alt="Image" [src]=photo.webviewPath />
    <ion-card-header>
      <ion-card-title> {{photo.filename}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-button fill="clear">Action</ion-button>
    <ion-button fill="clear" (click)="removePhoto(photo)">Remove</ion-button>
  </ion-card>



  <!-- <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">

        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>
